<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/client/css/output.css" />
    <link rel="stylesheet" href="~/client/css/pickmeup.css" />
    <link rel="stylesheet" href="~/client/css/swiper.bundle.min.css" />
    <link rel="stylesheet" href="~/client/css/Video.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Css", required: false)
    <style>
        html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

    </style>
</head>
<body>
            @RenderBody()
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
      <script src="~/client/js/vendor/gsap/gsap.min.js" defer></script>
    <script src="~/client/js/vendor/swiper.min.js"></script>
    <script src="~/client/js/slider.js" defer></script>
    <script src="~/client/js/header.js" defer></script>
    <script src="~/client/js/Video.js" defer></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
